include pug/mixins/_mixins.pug

doctype html

html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='theme-color', content='')
    link(rel='manifest', href='manifest.json')

    title Front Boilerplate

    //CSS-CHUNKS-LOAD

  body

    +script('js/index.js')
